body {
  margin: 0px;
  /* overflow: hidden; */
}

.sphere {
  fill: #f2f2f2;
}

.country {
  stroke: black;
  stroke-width: 0.08px;
}

.country:hover {
  fill: #74e1d8;
}

.tick text {
  font-size: 1.3em;
  fill: #444444;
  font-family: sans-serif;
}

.tick circle, .country-circle {
  fill: #00d1bf;
  fill-opacity: 0.489216;
  stroke: black;
  stroke-width: 0.3;
  pointer-events: none;
}

.legend-title {
  font-size: 2.2em;
  fill: #444444;
  font-family: sans-serif;
}